
:root{
    --fontePrincipal: Arial, Helvetica, sans-serif;
    --cor1: rgb(51, 51, 51);
}

*{
    color: white;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

header{
    padding: 10px;
    text-align: center;
}

body{
    background-color: var(--cor1);
    font-family: Arial, Helvetica, sans-serif;

}

.exemplos{
    padding-top: 20px;
    background-color: gray;
    width: 600px;
    height: 300px;
    border-radius: 10px;
    margin: auto;
}

li{
    padding-bottom: 10px;
    text-align: center;
}
a:hover{
    
    padding: 5px;
    background-color: rgb(99, 99, 99);
    border: 5px;
}

footer{
    padding: 10px;
    text-align: center;
}

